@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root{
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

@theme{
  --color-Falu-red: #6F1D1B;
  --color-Lion: #BB9457;
  --color-Bistre: #432818;
  --color-Brown: #99582A;
  --color-Peach: #FFE6A7;
  --color-Gray0: #3c5360;
  --color-Gray1: #536a77;
  --color-Gray2: #69818f;
  --color-Gray3: #8098a6;
  --color-Gray4: #96afbd;
}

/* Tailwind Elements */

.title{
  @apply text-white font-bold mb-4 ;
}

.subtitle{
  @apply text-gray-300 text-lg mb-3;
}

.description{
  @apply text-gray-400 text-sm;
}

.card{
  @apply bg-gray-800 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105;
}

.card-emoji-container{
  @apply bg-Gray4 relative rounded-lg shadow-lg object-center w-full h-full object-cover text-8xl flex items-center justify-center;
}

.card-overlay{
  @apply absolute inset-0 bg-black rounded-lg shadow-lg flex items-center justify-center opacity-0 hover:opacity-60 transition-opacity duration-300;
}

.card-content{
  @apply p-6;
}